.banner__imagem{
    background-image:url('../../img/banner.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    width:100vw;

}

@media screen and ( max-width:480px){
    .banner__imagem{
        height: calc(100vh - 48px)
    }
    
}

@media screen and (max-width:768px) {
    .banner__imagem{
        height: calc(100vh - 72px)
    }
}